h1{
    color:blue;
    background-color: pink;
    text-align: center;
}

h2{
    font-style: italic;
    text-align: left;
}

p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    font-size: x-small;
}